################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
bin
obj
/src/WorkflowEngine.Core/test1.txt
/src/WorkflowEngine.Hangfire/test1.txt
